.idea/
Server/node_modules/
Server/.expo/
Server/Api/Routes/get_birthdays.js
Specifications/Final project description Kravitz -final.doc
AppClient/src/Components/AppForms/Profile.js
WebClient/node_modules/
WebClient/server/node_modules/
WebClient/yarn--1555517649360-0.18429232493555237/yarn
WebClient/yarn--1555517649360-0.18429232493555237/node
WebClient/yarn--1555517866459-0.38211173243515684/node
WebClient/yarn--1555517866459-0.38211173243515684/yarn
WebClient/yarn--1555517917751-0.2025664724360372/node
WebClient/yarn--1555517917751-0.2025664724360372/yarn
WebClient/yarn--1555517951294-0.9061156243824438/node
WebClient/yarn--1555517951294-0.9061156243824438/yarn
WebClient/v8-compile-cache-0/6.2.414.50/zSusrzSlocalzSlibzSnode_moduleszSyarnzSbinzSyarn.js.MAP
WebClient/v8-compile-cache-0/6.2.414.50/zSusrzSlocalzSlibzSnode_moduleszSyarnzSbinzSyarn.js.BLOB
npm-debug.log

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
WebClient/reactapp/node_modules/
