#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
    z-index: 1000;
    background-color: #111111;

    .dropdown-menu {
        background: cornsilk;
        width: 230px;

        Link {
            text-align: center;
            color: black;
            font-size: 18px;

            &:hover {
                background: lightgray;
            }
        }
    }    

    div
    {
        margin: 0px 10px;

        button
        {
            margin: 10px 10px;
            width: 150px;
            height: 40px;
            font-size: 16x;
            font-weight: bold;
        }
    }    
}

