#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: #111111;

    .dropdown-menu {
        background: cornsilk;
        width: 300px;

        li {
            text-align: center;
            color: black;
            font-size: 18px;

            &:hover {
                background: lightgray;
            }
        }

        li.inactive {
            color: gray;
            background: cornsilk;
        }
    }    

    div
    {
        button
        {
            margin: 10px 10px;
            width: 250px;
            height: 40px;
            font-size: 20px;
            font-weight: bold;
        }
    }    
}

